[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/Elfaseo"]
	path = themes/Elfaseo
	url = https://github.com/diansadulloh/Elfaseo
